.draggable .dragging {
  opacity: 0.5;
}

.drag-over {
  border: dashed 3px red;
}

.message-display {
  width: 450px;
  height: 120px;
  background-color: rgba(40, 147 , 241, 0.4);
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#how-to-play {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 1rem;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  display: grid;
  text-align: center;
  background-image: url('https://wallpaperaccess.com/full/1486750.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  font-family: 'Lobster', cursive;
}


.display > #welcome-message  {
  font-size: 25px;
  color: purple;
}


.main {
  display: flex;
  justify-content: center;
  height: 380px;
}


.left-side {
  display: flex;
  flex-direction: column;
}

#horizontal {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 0.7rem;
}

#vertical {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 0.7rem;
}

#finish-placing {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 1rem;
}


.container {
  display: inline-flex;
  flex-direction: column;
  padding-right: 30px;
  align-items: baseline;
  justify-content: center;
  border: 3px solid #F3F3F3;
  border-radius: .5em;
  height: 150px;
  margin-bottom: 30px;
}


.ship-block-ship1 {
  width: 90px;
  height: 30px;
  opacity: 0.7
}
.ship-block-ship1:hover {
  opacity: 1.0;
}

.ship-block-ship2 {
  width: 60px;
  height: 30px;
  opacity: 0.7
}
.ship-block-ship2:hover {
  opacity: 1.0;
}

.ship-block-ship3 {
  width: 30px;
  height: 30px;
  opacity: 0.7
}
.ship-block-ship3:hover {
  opacity: 1.0;
}

.ship {
  display: flex;
  padding: 10px;
}


.grid {
  display: flex;
  justify-content: center;
}

.playerGrid{
  padding-right: 10px;
  padding-bottom: 0;
  width: 450px;
  height: 360px;
}

.aiGrid {
  padding-left: 10px;
  width: 450px;
  height: 360px;
}

.pgcell {
  display: inline-block;
  border: 1px solid black;
  background-color: #DC86FA;
  width: 40px;
  height: 40px;
}

.aicell {
  display: inline-block;
  border: 1px solid black;
  background-color: #DC86FA;
  width: 40px;
  height: 40px;

}

#start {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 1rem;
}

#replay {
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  margin-top: 10px;
  font-size: 1rem;
}